@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background-color: rgb(24, 44, 70);
    font-family: 'Roboto', sans-serif;
    width: 100vw;
    justify-self: center;
}

@media(max-width: 1080px) {
    * {
        flex-direction: column;
        padding-top: 20px;
        text-align: center;
    }
    .navbar ul {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .cta-section .container {
        flex-direction: row;      
        flex-wrap: wrap;  
    }
}

ul {
    list-style: none;
}

/* NAVBAR-START */

.navbar a,
.sign-up a,
a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.navbar a:hover {
    color: rgba(255, 255, 255, 0.452);
} 

.navbar .container {
    color: white;
    display: flex;
    padding: 25px 0px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 4px solid;
    width: 60vw;
    justify-self: center;
}

.navbar .logo {
    font-size: 35px;
    font-weight: 900;
    border: 10px solid;
    border-radius: 80px;
    padding: 15px;
    font-family: 'Barriecito', sans-serif;
    background-color: white;
    color: rgb(24, 44, 70);
}

.navbar ul {
    display: flex;
    font-size: 20px;
    gap: 20px;
}

.navbar ul a {
    background-color: rgb(24, 44, 70);
    color: rgb(255, 255, 255);
    padding: 8px 20px;
    border-radius: 5px;
    border: 2px solid whitesmoke;
}

/* NAVBAR-END */

/* HEADER-START */

    a.signup-button {
    background-color: rgb(42, 117, 214);
    padding: 10px 40px;
    border-radius: 7px;
    width: 100px;
    height: 50px;
    font-weight: bold;
    font-size: 20px;
}

img.header {
    width: 600px;
    border-radius: 35px;
    border: 3px solid rgb(42, 117, 214);
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    gap: 80px;
    width: 60vw;
    justify-self: center;
    margin-bottom: 50px;
}
.header .container h1 {
    color: white;
    font-size: 65px;
    font-weight: bold;
    margin-bottom: 20px;
}

.header .container p {
    color: rgb(245, 245, 245);
    font-size: large;
    font-weight: 300;
    margin-bottom: 50px;
}

/* HEADER-END */

/* SECTION-1-START */

.info-section .container {
    background-color: aliceblue;
}

.info-section-image {
    width: 220px;
    border-radius: 15px;
    border: 3px solid rgb(42, 117, 214);
}

.image-grid .second-image {
    align-self: center;
}

.info-section .container {
    background-color: white;
    padding: 70px 0px 100px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container .image-grid {
    display: flex;
    width: 60vw;
    text-align: center;
    justify-content: space-between;
    gap: 50px;
}

.info-section .container h1 {
    font-size: 60px;
    margin-bottom: 60px;

}

.image-grid p {
    background-color:rgb(24, 44, 70) ;
    padding: 8px;
    border-radius: 20px;
    color: whitesmoke;
    margin-top: 15px;
    font-weight: 400;
    box-shadow: 10px 10px rgb(42, 117, 214);
}

/* SECTION-1-END */

/* QUOTE-SECTION-START */

.quote-section {
    padding: 30px 0px 30px 0px;
    background-color: #e5e7ebee;
}

.quote-section .container {
    background-color: #e5e7ebee;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 10px dashed rgb(24, 44, 70);
    border-top: 10px dashed rgb(24, 44, 70);
}

.container .quote-container {
    width: 60vw;
}

.quote-container .quote {
    font-size: 40px;
    font-weight: 200;
    font-style: italic;
    color: #1f2937;
}

.quote span {
    font-weight: 1000;
    font-size: 43px;
}

.quote-container .author {
    font-size: 30px;
    font-weight: bold;
    justify-self: flex-end;
    color: #1f2937;
}

/* QUOTE-SECTION-END */

/* CTA-SECTION-START */

.cta-section {
    background-color: rgb(42, 117, 214);
    width: 100vw;
    padding: 130px 0px 130px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.cta-section .container {
    background-color: white;
    border-radius: 20px;
    width: 60vw;
    padding: 60px 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    box-shadow: 20px 20px rgb(24, 44, 70);
}

.cta-container-text {
    width: fit-content;
}

.cta-container-text h1 {
    font-size: 30px;
    font-weight: 900;
}

.cta-container-text p {
    font-weight: 400;
    font-size: larger;

}

.cta-section .signup-button {
    background-color: black; 
}

/* CTA-SECTION-END */

/* FOOTER-START */

.footer {
    padding: 40px 0px 40px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .container p,
a {
    color: rgba(255, 255, 255, 0.849);
    font-weight: 300;
    font-size: 20px;
}

.footer .container span {
    word-spacing: 20px;
}

.footer .container a:hover {
    color: rgba(255, 255, 255, 0.452);

}

/* FOOTER-END */




