* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    flex: 1 1 auto;

}
body {
    background-color: rgb(24, 44, 70);
    font-family: 'Roboto' sans-serif;
    width: 100vw;
    justify-self: center;
}

ul {
    list-style: none;
}

.navbar a,
.sign-up a,
a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.navbar a:hover {
    color: rgba(255, 255, 255, 0.452);
} 

.navbar .container {
    color: white;
    display: flex;
    padding: 25px 0px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 4px solid;
    width: 60vw;
    justify-self: center;
    border: 1px solid;
}

.navbar .logo {
    font-size: 35px;
    font-weight: bold;
}

.navbar ul {
    display: flex;
    font-size: 20px;
}

.navbar ul a {
    background-color: rgb(24, 44, 70);
    color: rgb(255, 255, 255);
    padding: 8px 20px;
    border-radius: 5px;
}

    a.signup-button {
    background-color: rgb(42, 117, 214);
    padding: 10px 40px;
    border-radius: 7px;
    width: 100px;
    height: 50px;
    border: 1px solid whitesmoke;
}

img.header {
    width: 600px;
    border-radius: 35px;
    border: 1px solid whitesmoke;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    gap: 60px;
    width: 60vw;
    justify-self: center;
    margin-bottom: 50px;
}
.header .container h1 {
    color: white;
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 20px;
}

.header .container p {
    color: rgba(255, 255, 255, 0.925);
    font-size: large;
    font-weight: 100;
    margin-bottom: 40px;
}

.info-section .container {
    border: 1px solid;
    background-color: aliceblue;
    width: 100%;
}

.info-section-image {
    width: 250px;
    height: 250px;
}

